* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box
}

.container {
    background: #222;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px 0px;

    & .box {
        background-color: rgb(113, 23, 148);
        width: 200px;
        height: 200px;
    }
}