* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box
}
.b1, .b3, .b5 {
    color: rgb(235, 163, 29);
}
p {
    margin-top: 30px;
}
div {
    padding: 100px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
/*efeito paralax*/
    background-attachment: fixed;
}
.b1 {
    background-image: url("./img/bg1.jpg");
}
.b3 {
    background-image: url("./img/bg3.jpg");
}
.b5 {
    background-image: url("./img/bg5.jpg");
}

