* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.barra {
    padding: 5px;
    width: 500px;
    height: 50px;
    border-radius: 100px;    
    border: 4px solid black
}
.carregando{
    animation: carregando ease-in-out 10s infinite;
    background-color: black;
    height: 100%;
    width: 100%;
    border-radius: 50px;
}
@keyframes carregando {
    1%{
       width: 1%; }
    100%{
    width:100%
    }
}
